@media  screen  and (min-width: 0px) and (max-width: 450px) {
  .container {
    background: burlywood;
    display: flex;
    flex-direction: column;
    width: 450px;
  }
  .block-A {
    height: 20vh;
    width: 99%;
    background: white;

  }
  .container-A {
    background: burlywood;
    display: flex;
    flex-direction: column;
  }
  .block-B {
    height: 90vh;
    width: 99%;
    background: white;
    margin-top: 25px;
  }
  .block-C {
    height: 40vh;
    width: 99%;
    background: white;
    margin-top: 25px;
  }
}
